
  - name: Download list of vlans from 9ks
    nxos_facts:
      provider: '{{ nxapi }}'
      gather_subset: legacy
    register: facts

#  - debug: var=facts.ansible_facts.interfaces_list
#    tags: create

#  - debug: var=item.id
#    tags: always
#    with_items: '{{ vlans }}'

  - name: Check if Vlan exists on 9ks
    fail:
      msg: "{{item.id }} -  Vlan already exists on the 9ks."
    when: item.id | string in facts.ansible_facts.vlan_list
    with_items: '{{ vlans }}'

  - name: Check if Interface Vlan exists on 9ks
    fail:
      msg: '"Vlan"{{item.id }} -  Interface Vlan already exists on the 9ks.'
    when: '("Vlan" + (item.id | string) ) in facts.ansible_facts.interfaces_list'
    with_items: '{{ vlans }}'

  - name: Create Customer Vlans on Nexus 9k
    nxos_vlan:
      vlan_id: "{{item.id}}"
      state:   "{{item.state | default('present') }}"
      admin_state: "{{ item.admin | default('up') }}"
      name:    "{{ Customer_VRF }}_{{ item.name }}"
      provider: '{{nxapi}}'
      host: '{{ inventory_hostname }}'
    with_items: "{{vlans}}"

  - name: Create Interfaces for Customer '{{ Customer_VRF }}'
    nxos_interface:
      interface: "Vlan{{item.id}}"
      state: 'present'
      mode: layer3
      description: "{{Customer_VRF }} - {{ item.name }}"
      host: "{{ inventory_hostname }}"
      provider: '{{ nxapi }}'
    with_items: "{{vlans}}"

  - name:  Build Customer VRF
    nxos_vrf:
      vrf: '{{ Customer_VRF }}'
      provider: '{{ nxapi }}'
      state: 'present'

  - name: Join VRF Interfaces for Customer '{{ Customer_VRF }}'
    nxos_vrf_interface:
      interface: "Vlan{{item.id}}"
      state: 'present'
      vrf: '{{ Customer_VRF }}'
      host: "{{ inventory_hostname }}"
      provider: '{{nxapi}}'
    with_items: "{{vlans}}"

  - name: BUILD Template - Build Vlans and SVI Interfaces
    template:
      src: templates/create.j2
      dest: output/{{inventory_hostname}}-create.cfg


  - name:  APPLY Config - Build Vlans and SVI Interfaces
    nxos_config:
      src: output/{{inventory_hostname}}-create.cfg
      provider: '{{ cli }}'
      match: none


